@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body{
  margin:0px;
  min-width: 100%;
  min-height: 100vh;
  background-color: #15151e;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  color: #c7cad3;
  /*text-shadow: 0 0 20px #d4daf3;*/
  text-align: center;
}

p{
  margin: 0 auto;
}
.bts{
  margin:auto;
  width: 20vw;
  height: 100px;
}
/* 時計のスタイル */
.clock {
  height: auto;
  font-family: 'Share Tech Mono', monospace;
  
}
#clock-time{
  font-size: 150px;
}
#fullClock{
  
  font-size: 80px;
}
#fullDate{
  margin: 50px;
  font-size: 100px;
}


/* 文字サイズ調整 */
@media screen and (max-width: 1200px) {
  .bts{
    margin: auto;
    width: auto;
    height: auto;
  }
  .clock {
   
    text-align: center;
  }
  #clock-time{
    font-size: 10vw; 
  }
  #fullClock{
    font-size: 5vw;
  }
  #fullDate{
    font-size: 8vw;
  }
}